<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	<a class="navbar-brand" href="{% url 'landing_page' %}" style="width: 100%;text-align: center;" ><h2 style="font-weight: bold;">GST FLOW</h2></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto" style="color: white;"> 
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'invoice_create' %}" style="color: white;">New Invoice <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'invoices' %}" style="color: white;">Invoices</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'inventory' %}" style="color: white;">Inventory</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'books' %}"style="color: white;">Books</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'customers' %}"style="color: white;">Customers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'products' %}"style="color: white;">Products</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'user_profile' %}"style="color: white;">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}?next=/"style="color: white;">Logout</a>
			</li>
			{% endif %}
		</ul>
	</div>
	</div>
</nav>